html, body{
    background-color: rgb(255, 228, 196);
    margin: 0px;
}
@keyframes Animation_inicio {
    from{
        scale:50%
    }
    to{
        scale:100%
    }
}

.caja{
    width: 90px;
    height: 130px;
    background-color: black;
    text-align: center;
    align-content: center;


}
.Item_text{
    margin-left: 7px;
    justify-content: center;
    

}
.animacion_inicio{
    animation-name: Animation_inicio;
    animation-duration: 2s;
    animation-delay: -1s;
}
.Content{
    min-width: 100vh;
}

.postres{
    transition-property:color;
    transition-duration:1ms;
    animation-name: Animation_inicio;
    animation-duration: 2s;
}
.pasteles{
    background:linear-gradient(rgba(254, 249, 249,0.2)),linear-gradient(rgba(255, 254, 254, 0.2)),url("Imagenes/Pastel_zombi_menu.png");
    background-repeat: no-repeat;
    background-position: center;
    align-content:center
}

.Galletas{
    text-decoration: none;
    color:black
    
}
.postres:hover{
scale:110%;
color:beige
}
    
.Text_menu_imagenes{
    text-align:center;
    text-decoration:none;
    color:rgb(29, 0, 0)

}
.Caja_galletas{
    background:linear-gradient(rgba(254, 249, 249,0.2)),linear-gradient(rgba(255, 254, 254, 0.2)),url("Galletas/Galleta_mentiroso_menu.jpeg");
    background-position: center;
    width:90px;
    text-align: center;
    align-content: center;

}
.Redes{
    width:60px;
    padding: 5px;
    background-color: #9C5810;
    align-items: center;
    
}
.Texto_link_redes{
    text-decoration:none;
    color: azure;
    text-align: center;
}

.footer_titulo{
    display: inline-block;
    color: #fbf6f3;
}
.Imagenes_menu{
    width:90%;
    display: flex;
    margin: auto;
    margin-top: 4.5dvh;
}

.link_galerias_contacto{
    text-decoration: none;
    list-style:none;
    color:rgb(239, 236, 233)
}
.Subtitulo{
    color:rgb(43, 18, 1);
    font-size:25px;

}
.Content{
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
}

.Texto_inicio{
    color:rgb(86, 37, 2)
}
.box_item{
    width:90%;
    box-sizing:border-box;
    margin-left:10px;

}
.flexbox{
    display:flex
}


.Titulo_menu_inicio{
    left:2px;
    
}
.Texto_menu_inicio{
    margin-left: 10px;
}




.flexbox{
display: flex;
}

.Titulo{
    font-family:cursi;
    color:#fbf6f3;
    letter-spacing: 1.5px;
}
.list_item{
    text-decoration:none;
    list-style: none;
}
.link_item{
    margin:0%;
    margin-left:10px;
    color:#fbf6f3

}
.H1{
    font-size: 12px;
    margin-top:0px;
    margin-left: 7px ;

}

.footer{
    background-color:#472F19;
    width:100%;
}
header{
    justify-content:space-between;
    display: flex;
    background-color: #472F19;
    box-shadow: 0 0 8px 0 chocolate;
    


}
.item_nav ul{
    display:flex
}
@media screen and (min-width:340px) and (max-width:360px) {

.Titulo{
font-size: 20px; 
width: 100%;

}
.Subtitulo{
    font-size: 30px;
    width: 100%;
}
.Titulo_menu_inicio{
    margin-left: 20px;
    font-size:40px
}
.Texto_menu_inicio{
    bottom: 20px;
    font-size: 25px;
}
.Caja_texto_video{
    width:300px
}
.link_menu{
    color:rgb(0, 0, 0)
}
.pasteles{
width:89px;
text-align: center;
background-color: blue;
}

.box_video{
flex-direction:column
}

.box_video{
    display: flex;
    overflow:hidden;
}
.box_item{
    width:300px;
    
}
.box_item_postres{
    background-color: rgb(27, 16, 1);
    width:600px;
}

.video_menu{
    background-color: lightcoral;
    margin: auto;

}

.Content{

    min-height: 92dvh;
}


}




@media screen and (min-width:390px){

.item-text{
    text-align:justify ;
    color:rgb(0,0,0);
    
}
main{
    margin-left: 15px;
}


.Content{
    min-height: 70dvh;
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height: 86dvh;
}
}

.menu{
    
    justify-content:center;
    
}


.item-title{
    color:red;
    text-align:center
}




@media screen and (min-width:400px) and (max-width:410px){
    .Content{
    min-height: 77dvh;
    display:grid;
    grid-template-rows: auto 1fr auto;
    
}
    
}
@media screen and (min-width:410px) and (max-width:420px){
.Content{
    min-height: 79dvh;
} 
}
@media  screen and (min-width:440px) and (max-width:768px){
    .Content{
    min-height: 77dvh;
} 
}
@media  screen and (min-width:427px) and (max-width:428px){
.Content{
    min-height: 100dvh;
}
}
.Content{
    min-height: 70dvh;
    display:grid;
    grid-template-rows: auto 1fr auto;
    min-height: 86dvh;
}.Content{

    min-height: 92dvh;
}